﻿@{
    ViewData["Title"] = "Thông tin danh sách hộ chiếu hành khách";
}

<div class="form-general">
    <div class="text-center">
        <div class="titlePage">
            <div class="panelRight">
            </div>
            <span class="TrangChu title-layout">Quản lý hộ chiếu hành khách</span>
        </div>
    </div>
    <div class="form-group text-right">
    </div>
    <div class="table-tree-wrapper table-pagination-outside">
        <div style="width:100%; margin:0 auto;">
            <table id="dataGrid" class="table-border row-border compact titleXeBuytCus dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Họ tên</th>
                        <th>Giới tính</th>
                        <th>Hộp thư</th>
                        <th>Mã hộ chiếu</th>
                        <th>Ngày sinh</th>
                        <th>Quốc tịch</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- Modal edit-->
<div class="modal animate__animated animate__fast animate__fadeInRight" id="modal_edit" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialogDN" role="document">
        <div class="modal-content modal-contentDN">
            <div class="modal-header">
                <h5 class="loai-hinh-title" id="">Chỉnh sửa hộ chiếu du khách</h5>
                <input type="hidden" class="form-control" id="id_modal_edit">
            </div>
            <div class="modal-body">
                <div role="form" id="">
                    <div class="form-group">
                        <label>Họ và tên</label>
                        <input class="form-control" type="text" id="ho-va-ten-model-edit">
                    </div>
                    <div class="form-group">
                        <label>Giới tính</label>
                        <input type="radio" name="gioi-tinh-model-edit" value="0"> Nam
                        <input type="radio" name="gioi-tinh-model-edit" value="1"> Nữ
                        <input type="radio" name="gioi-tinh-model-edit" value="2"> Khác
                    </div>
                    <div class="form-group">
                        <label>Hộp thư</label>
                        <input class="form-control" type="text" id="hop-thu-model-edit">
                    </div>
                    <div class="form-group">
                        <label>Ngày sinh</label>
                        <input class="form-control dd-mm-yyyy" type="text" id="ngay-sinh-model-edit">
                    </div>
                    <div class="form-group">
                        <label>Quốc tịch</label>
                        <select class="form-control ds-quoc-tich" id="quoc-tich-model-edit" data-placeholder="Chọn quốc tịch">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="group-button-action">
                    <button type="button" class="btn btn-close-form btn-outline-primary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-submit-form btn-primary" id="btn_save_modal_edit">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Delete-->
<div class="modal fade" id="modal-delete" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="warning" role="form">
                    <span class="material-symbols-outlined icon-warning"></span>
                    <div class="notiDelDn">Bạn có chắc chắn muốn xóa hộ chiếu du khách này?</div>
                    <h6 class="titleDnDelete" id="id-modal-delete"></h6>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="" class="btn btn-outline-primary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" id="btn-save-modal-delete" class="btn btn-danger btn-primary text-white">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script>
    let tokenJWT = '@ViewBag.TokenJWT'
    console.log({ tokenJWT })
</script>

<script src="~/views/hochieuhanhkhach/index.js"></script>

