﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Quốc tịch";
}

<div class="form-container">
    <div>
        <h3 class="center-align">QUẢN LÝ QUỐC TỊCH</h3>
    </div>
    <div class="form-group group-button-action text-right">
        <input type="text" maxlength="30" class="" id="input-search" placeholder="Nhập..." />
        <button type="button" id="btn-search" class="btn btn-primary">Tìm kiếm</button>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAdd">
            Thêm mới
        </button>
    </div>
    <div class="table-tree-wrapper table-pagination-outside">
        <div style="width:100%; margin:0 auto;">
            <table id="dataGridNationality" class="table-border row-border compact w-100 table table-hover" cellspacing="0">
                <thead>
                    <tr class="table-primary">
                        <th class="text-center">STT</th>
                        <th>Tên quốc tịch</th>
                        <th class="text-center">Chức năng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới quốc tịch</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div role="form" id="formAdd">
                    <div class="form-group">
                        <label for="tenAdd" class="editor-label">Tên quốc tịch<span class="red-text"> *</span></label>
                        <input class="form-control" id="tenAdd" maxlength="30" required />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" onclick="closeModal()">Hủy bỏ</button>
                <button type="button" onclick="addData()" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit-->
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa quốc tịch</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div role="form" id="formAdd">
                    <div class="form-group">
                        <input type="hidden" id="idQuocTich" />
                        <label for="tenAdd" class="editor-label">Tên ngôn ngữ<span class="red-text"> *</span></label>
                        <input class="form-control" id="tenEdit" maxlength="30" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" onclick="editData()" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal DELETE-->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa quốc tịch</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div role="form" id="formAdd">
                    <div class="form-group">
                        <input type="hidden" id="idQuocTich" />
                        <div class="form-group">
                            Bạn có chắc chắn muốn xóa quốc tịch <span id="tenQuocTich" class="red-text"></span> này?
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" onclick="deleteData()" class="btn btn-primary">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<script src="~/views/quoctich/index.js"></script>