﻿@using Microsoft.AspNetCore.Identity
@using Data;
@using System.Security.Claims;
@inject SignInManager<HC_IdentityUser> SignInManager
@inject UserManager<HC_IdentityUser> UserManager
@{
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var user = UserManager.FindByIdAsync(userId).GetAwaiter().GetResult();
}

<a class="navbar-brand ps-3" href="index.html">Hộ chiếu du lịch</a>
<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.Fullname!</a>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <a class="nav-link text-info" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
    <a class="nav-link text-info" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
}
