﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Địa điểm tham quan";
}
<link href="~/css/site.css" rel="stylesheet" />

<div class="form-container">
    <div>
        <h3 class="center-align">QUẢN LÝ ĐỊA ĐIỂM THAM QUAN</h3>
    </div>
    <div class="form-group group-button-action text-right row">
        <div class="col-md-3">
            <select id="search-language" class="form-control"></select>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" maxlength="30" id="input-search" placeholder="Nhập..." />
        </div>
        <div class="col-md-3">
           <button type="button" id="btn-search" class="btn btn-primary">Tìm kiếm</button>

        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAdd">
                Thêm mới
            </button>
        </div>
    </div>
    <div class="table-tree-wrapper table-pagination-outside">
        <div style="width:100%; margin:0 auto;">
            <table id="dataGridLocation" class="table-border row-border compact w-100 table table-hover" cellspacing="0">
                <thead>
                    <tr class="table-primary">
                        <th class="text-center">STT</th>
                        <th>Tên địa điểm</th>
                        <th class="text-center">Bán kính cho phép</th>
                        <th>Tóm tắt</th>
                        <th class="text-center">Thứ tự</th>
                        <th class="text-center">Chức năng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới điểm tham quan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div role="form" id="formAdd">
                    <div class="form-group">
                        <div>
                            <label for="kinhDoAdd" class="editor-label">Kinh độ<span class="red-text"> *</span></label>
                            <input class="form-control" id="kinhDoAdd" maxlength="30" required />
                        </div>
                        <div>
                            <label for="viDoAdd" class="editor-label">vĩ độ<span class="red-text"> *</span></label>
                            <input class="form-control" id="viDoAdd" maxlength="30" required />
                        </div>
                        <div>
                            <label for="banKinhAdd" class="editor-label">Bán kính cho phép ghi nhận check in<span class="red-text"> *</span></label>
                            <input class="form-control check-num" id="banKinhAdd" maxlength="30" required />
                        </div>
                        <div class="Logo-display">
                            <div class="avatar-edit">
                                <label for="anhDaiDienAdd">Ảnh đại diện<span class="red-text"> *</span></label>
                                <input type='file' id="anhDaiDienAdd" onchange="readURLAnhDaiDienAdd(this)" alt="" accept=".png, .jpg, .jpeg, .bmp" />
                            </div>
                            <div class="avatar-preview">
                                <img class="has-image" id="anhDaiDien" alt="" src="/images/add_photo_alternate_2.jpg" width="128" height="128" />
                            </div>
                        </div>
                        <div>
                            <label for="thuTuAdd">Thứ tự</label>
                            <input class="form-control check-num" id="thuTuAdd" maxlength="5" required />
                        </div>
                        <div>
                            <label>Nội dung:</label>
                            <div>
                                <select id="select-language" class="form-control" multiple></select>
                            </div>
                            <div id="ngon-ngu-select"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" onclick="closeModal()">Hủy bỏ</button>
                <button type="button" onclick="addData()" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit-->
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa điểm tham quan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div role="form" id="formAdd">
                    <div class="form-group">
                        <input class="form-control" type="hidden" id="idDiemThamQuanEdit" />
                        <div>
                            <label for="kinhDoEdit" class="editor-label">Kinh độ<span class="red-text"> *</span></label>
                            <input class="form-control" id="kinhDoEdit" maxlength="30" required />
                        </div>
                        <div>
                            <label for="viDoEdit" class="editor-label">vĩ độ<span class="red-text"> *</span></label>
                            <input class="form-control" id="viDoEdit" maxlength="30" required />
                        </div>
                        <div>
                            <label for="banKinhEdit" class="editor-label">Bán kính cho phép ghi nhận check in<span class="red-text"> *</span></label>
                            <input class="form-control check-num" id="banKinhEdit" maxlength="30" required />
                        </div>
                        <div class="Logo-display">
                            <div class="avatar-edit">
                                <label for="anhDaiDienEdit">Ảnh đại diện<span class="red-text"> *</span></label>
                                <input type='file' id="anhDaiDienEdit" onchange="readURLAnhDaiDienEdit(this)" alt="" accept=".png, .jpg, .jpeg, .bmp" />
                            </div>
                            <div class="avatar-preview">
                                <img class="has-image" id="avataEdit" alt="" src="/images/add_photo_alternate_2.jpg" width="128" height="128" />
                            </div>
                        </div>
                        <div>
                            <label for="thuTuEdit">Thứ tự</label>
                            <input class="form-control check-num" id="thuTuEdit" maxlength="5" required />
                        </div>
                        <div>
                            <label>Nội dung:</label>
                            <div>
                                <select id="select-language-edit" class="form-control" multiple></select>
                            </div>
                            <div id="ngon-ngu-select-edit"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Hủy bỏ</button>
                <button type="button" onclick="editData()" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa điểm tham quan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div role="form" id="formAdd">
                    <div class="form-group">
                        <input type="hidden" id="idDiaDiem" />
                        <input type="hidden" id="idNoiDung" />
                        <input type="hidden" id="avataName" />
                        <div class="form-group">
                            Bạn có chắc chắn muốn xóa địa điểm <span id="tenDiaDiem" class="red-text"></span> này?
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" onclick="deleteData()" class="btn btn-primary">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script src="~/views/diadiemthamquan/index.js"></script>

