﻿html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.red-text{
    color: red;
}

.center-align {
    text-align: center;
}

.icon:hover {
    cursor: pointer;
}

.icon {
    padding: 0px 15px 2px 13px;
}

.editor-label{
    font-weight: 600;
    font-size: 17px;
}

.select2-dropdown {
    z-index: 9999 !important;
}
